html,
body {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

.logo {
  background-color: #281838;
  border-radius: 10px;
  padding: 1rem;
}

.circle {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  background: #745B99;
  border: 12px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-back {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0.1;
  margin-left: 55px;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  background: #745B99;
  border: 25px solid #f1f1f1;
  margin-top: -25px;
}

.circle-small {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ffffff;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-rss {
  color: #745B99;
}

.fa-instagram {
  color: #BC2A8D;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-chevron-right,
.fa-chevron-left {
  color: #ffffff;
}

.btn-primary {
  background-color: #281838;
  border: none;
}

.rotated {
  transform: rotate(180deg);
}

.grey-dark {
  color: #495661;
  opacity: 30%;
}

.grey {
  color: #E3E8F1;
  opacity: 0.4;
}

.purple {
  color: #745B99 !important;
}

.lines-news {
  height: 580px;
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-top: 100px;
  border-top: 2px solid #48487E;
  border-left: 2px solid #48487E;
  border-bottom: 2px solid #48487E;
  z-index: -1;
}

.lines-events {
  height: 580px;
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-top: 100px;
  border-top: 2px solid #48487E;
  border-right: 2px solid #48487E;
  border-bottom: 2px solid #48487E;
  z-index: -1;
}

.switcher {
  margin-top: -645px;
}

.back-white {
  background-color: #ffffff;
}

@media screen and (max-width: 992px) {
  .lines-news,
  .lines-events,
  .switcher {
    border: none;
  }

  .circle {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
  }
}
.swiper {
  height: 400px;
}

.swiper-slide {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 0px 10px #dfdfdf);
}

#swiper-wrapper-7b10188dce95ba68 .swiper-slide {
  background: #745B99 0% 0% no-repeat;
}

#swiper-wrapper-7b10188dce95ba68 .swiper-slide:hover {
  background: #281838 0% 0% no-repeat;
}

.swiper-slide-next {
  height: 106% !important;
}

#swiper-wrapper-7b10188dce95ba69 .swiper-slide {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(https://unsplash.com/photos/mQVWb7kUoOE/download?force=true&w=640);
}

#swiper-wrapper-7b10188dce95ba69 .swiper-slide:hover {
  background-image: linear-gradient(to bottom, rgba(0, 216, 255, 0.9), rgba(0, 0, 0, 0.9)), url(https://unsplash.com/photos/mQVWb7kUoOE/download?force=true&w=640);
}

.swiper-button-next {
  right: -1px !important;
}

.swiper-button-prev {
  left: -2px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 26px !important;
  color: #353c47;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
