@media screen and (max-width: 992px) {

    .lines-news,
    .lines-events,
    .switcher {
        border: none;
    }

    .circle {
        display: none;
    }
}

@media screen and (max-width: 420px) {

    h1 {
        font-size: 1.5rem;
    }
}